*, *:before, *:after {
	box-sizing: inherit;
}
html {
	box-sizing: border-box;
	background-color: #535353;
}

body {
	font-family: monospace;
	font-size: 16px;
	font-size: calc(10px + 4vw/12);
	background: #c6c6c6;
}

.container {
	background: #efefef;
}

h1 {
	margin: 0;
}

p {
	text-align: inherit;
	margin:0;
}

a:hover {
	opacity: 0.5;
}

select, input {
	border: 2px solid;
	background: #fefefe;
	border-radius: 0;
	height: 100%;
	font: inherit;
	padding: 1em;
	margin: 0;
}

select {
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
}

textarea {
	font: inherit;
	background: none;
	padding: 1em;
	border: 1px dashed gray;
	min-width: 100%;
	max-width: 100%;
	height: 5em;
	resize: vertical;
}

.input-field-input {
	position: relative;
}

.input-field-input > * {
	width: 100%;
}

.input-field-label {
	align-self: center;
	text-align: right;
	font-weight: bold;
}

.select-field:after {
	content: "\25BE";
	display: block;
	position: absolute;
	right: 1em;
	top: 50%;
    margin-top: -0.75em;
    font-size: 1em;
	pointer-events: none;
}

.radios {
	display: flex;
}

.radio-button {
	border: 2px solid black;
	flex: 1 0 0;
	position: relative;
	overflow: hidden;
}
.radio-button span {
	padding: 1em;
	display: block;
	height: 100%;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
}
.radio-button :checked + span {
	background-color: #c6c6c6;
}
.radio-button + .radio-button {
	margin-left: 1em;
}

.radio-button input {
	opacity: 0;
	position: absolute;
}

footer {
	text-align: right;
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	align-items: baseline;
	flex-wrap:wrap;
}

footer p {
	white-space: nowrap;
}

.avatar {
	width: 2em;
	vertical-align: middle;
	border: 1px solid #555;
	filter: contrast(200%) grayscale(40%) ;
}

/* LOADING SYMBOL */
.loading {
	position:relative;
}

.loading:before {
	content: "";
	display: block;
	background: rgba(239,239,239,0.75);
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	left: 0;
	height: 100%;
	width: 100%;
	animation: fade-in 1s;
}

.loading:after {
	content: "";
	display: block;
	height:2em;
	width:2em;
	border: 0.25em solid #eee;
	border-top-color: #aaa;
	border-radius: 50%;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -1em;
	margin-right: -1em;
	transform: rotate(45deg);
	animation: spinning 0.5s infinite linear, fade-in 1s;
}

@keyframes fade-in {
	0% { opacity: 0 }
	100% { opacity: 100% }
}

@keyframes spinning {
	0% { transform: rotate(45deg) }
	100% { transform: rotate(405deg) }
}

/* LAYOUT */
body {
	max-width: 100em;
	margin: auto;
	margin-top: 2em;
	min-height: 100vh;
	min-height: calc(100vh - 2em);
	padding: 2em 4em;
	padding-bottom: 0;
	display: grid;
}
.container {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 2em;
	padding: 3em;
	align-content: center;
	min-height: 100%;
	grid-template-rows: auto 1fr auto;
}
#generator {
	display: grid;
	grid-gap: 1em;
	grid-template-columns: 2fr 1fr;
	grid-template-areas: "form image";
	align-content: start;
}

#title {
	text-align: center;
}
#classpex-form {
	grid-area: form;
}
#classpex-container {
	grid-area: image;
}

#classpex-form {
	display: grid;
	grid-gap: 1em;
	grid-template-columns: max-content 1fr;
}

#footer {
	align-self: end;
}


/* ERROR PAGE */
.error {
	text-align: center;
	overflow: auto;
}
.error *+* {
	margin-top: 1em;
}
.error-message {
	max-width: 100%;
	overflow: auto;
	border: 1px dashed gray;
	padding: 2em;
	color: #b51d1d;
}
.error-message pre {
	padding: 0;
	margin: 0;	
	display: inline-block;
	text-align:initial;
}


@media all and (max-width: 600px) {
	body {
		font-size: 1em;
	}
	#generator {
		grid-template-columns: 1fr;
		grid-template-areas: "image" "form"
	}
}

@media all and (max-width: 500px) {
	body {	
		padding:0;
		padding-top: 2em;
	}
}

@media all and (min-width: 1800px) {
	body {
		font-size: 18px;
	}
}
