doctype html
html
	head 
		title Classpex Generator
		link(rel="stylesheet" href="/form/style.css")
		meta(name="viewport" content="width=device-width")
	body 
		h1#title ERROR 
		.error
			.error-message
				pre=message
			p Return to the #[a(href="/form") Classpex Generator]
		
