extends layout.pug

block metadata
	meta(property="og:image" content="/public/screenshot.png")
	meta(property="og:description" content="Class/aspect hexagon designs inspired by Homestuck Sburb lore.")
	meta(property="og:title" content="Homestuck Classpex Generator")
	meta(property="og:url" content="/form")
	meta(name="twitter:card" content="summary_large_image")
	
block contents
	h1#title Classpex Generator
	section#generator
		form#classpex-form
			+select-field("Class",['bard', 'heir', 'knight', 'mage', 'maid', 'page', 'prince', 'rogue', 'seer', 'sylph', 'thief', 'witch'])#hero-field.hero-input
			+select-field("Aspect",['blood','breath','doom','heart','hope','life','light','mind','rage','space','time','void'])#aspect-field.aspect-input
			+radios-field("stroke",['thin','thick','none'])
			+radios-field("symbol",['small','big'])
		#classpex-container
			img#classpex-image(src="/?stroke=thin")
			small Save the image above or copy the html below:
			textarea.classpex-src(rows=3)
	footer#footer
		p.
			Created by #[img.avatar(src="https://avatars3.githubusercontent.com/u/10479613")] #[a(href="http://jzumun.ph") JZumun] 
			(#[a(href="https://github.com/JZumun/homestuck-classpex") Github]).
		p #[a(href="http://mspaintadventures.com/") Homestuck]  &copy; Hussie`
	script(src="/public/form/generate.js")
	
